
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"><a href="/admin/products">Total products</a></th>
      <th scope="col"><a href="/">Total categories</a></th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td> <%= @products_count %></td>
      <td> <%= Category.count %></td>
      
    </tr>
    
    
  </tbody>
</table>


